<div class="container" >
    <app-search-flight (propertiesAreChanged)="searchCourses($event)">
    </app-search-flight>
    <div class='row' >
        <div class='col-12' style='margin-top: 20px; margin-bottom: 20px'>
            <table class='table clicable table-hover table-striped table-dark' style="font-size: 13px;">
                <thead >
                    <tr id="headTr">
                      <th scope="col">ID</th>
                      <th scope="col">Departure date</th>
                      <th scope="col">Return date</th>
                      <th scope="col">Pssengers</th>
                      <th scope="col">Free Places</th>
                      <th scope="col">Price</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr  *ngFor="let flight of flights |  keyvalue | valuesPipe | searchPrice : minPrice : maxPrice | searchDate : minDate : maxDate">
                                <th>{{flight.id}}</th>
                                <th>{{flight.startDate}}</th>
                                <td>{{flight.endDate}}</td>
                                <td>{{flight.participantCapacity}}</td>
                                <td><div *ngIf='freePlaces[flight.id]'> {{freePlaces[flight.id]}}</div><div *ngIf='!freePlaces[flight.id]'> {{flight.participantCapacity}}</div></td>
                                <td>{{flight.price}}</td>
                                <td><button class='btn btn-success'(click)="navigateToDetails(flight.id)">More</button></td>
                        </tr>
                  </tbody>

            </table>

        </div>
    </div>

</div>

