<div class="container" >
    <!-- <app-search-course-panel (propertiesAreChanged)="searchCourses($event)">
    </app-search-course-panel> -->
    <div class='row' >
        <div class='col-12' style='margin-top: 20px; margin-bottom: 20px'>
            <table class='table table-striped table-dark' style="font-size: 13px;">
                <thead >
                    <tr>
                      <th scope="col">Departure date</th>
                      <th scope="col">Return date</th>
                      <th scope="col">Pssengers</th>
                      <th scope="col">Free Places</th>
                      <th scope="col">Price</th>
                      <th scope="col">Admin Functions</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let flight of flights">
                                <th >{{flight.startDate}}</th>
                                <td>{{flight.endDate}}</td>
                                <td>{{flight.participantCapacity}}</td>
                                <td>2</td>
                                <td>{{flight.price}}</td>
                                <td><button (click)="deleteFlight(flight.id)"  class="btn btn-primary btn-danger">Delete</button></td>
                            <!-- <app-flight [flight] = "flight" (flightIsDeleted)="deleteFlight($event)"></app-flight> -->
                        </tr>
                  </tbody>
            </table>

        </div>
    </div>

</div>
