<div class=' container '>
    <div class="row justify-content-center">

    <hr>
    <br>
    <div class='col-12 text-center'>
    <h1>Add new Space Flight</h1>
    <br>
    </div>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
        <div class='form-group'>
            <div class=''></div>
            <label for="startDate" >Begin Date:</label>
            <input name="startDate" class="form-control col-12 " id="startDate" formControlName="startDate" aria-describedby="startDateError">
            <small  *ngIf="formErrors.startDate" class="form-text text-muted" id="startDateError">{{ formErrors.startDate }}</small>
        </div>
    <div class='form-group'>
        <label for="endDate" >End Date:</label>
        <input name="endDate" class="form-control col-12" id="ects" formControlName="endDate" aria-describedby="endDateError">
        <small  *ngIf="formErrors.endDate" class="form-text text-muted" id="endDateError">{{ formErrors.endDate }}</small>
    </div>
    <div class='form-group'>
        <label for="participantCapacity" >Max Places:</label>
        <input name="participantCapacity" class="form-control col-12" id="participantCapacity" formControlName="participantCapacity" aria-describedby="participantCapacityError">
        <small  *ngIf="formErrors.participantCapacity" class="form-text text-muted" id="participantCapacityError">{{ formErrors.participantCapacity }}</small>
    </div>

    <div class='form-group'>
        <label for="price" >Price:</label>
        <input name="price" class="form-control col-12" id="price" formControlName="price" aria-describedby="priceError">
        <small  *ngIf="formErrors.price" class="form-text text-muted" id="priceError">{{ formErrors.price }}</small>
    </div>

     <button [disabled]="!modelForm.valid" type="submit" class="btn btn-success" >Send</button>
    </form>


    </div>
    </div>