<div class=' container '>
    <div class="row justify-content-center">

    <hr>
    <br>
    <div class='col-12 text-center'>
    <h2>New Reservation</h2>
    <br>
    <div class='col-12 text-center' style='margin-top: 20px;'>
        <h6>Add</h6>
        <br>
    </div>
    </div>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">

        <!-- <div class='form-group'>
            <label for="startDate" >Begin Date:</label>
            <input name="startDate" class="form-control col-12 " id="startDate" formControlName="startDate" aria-describedby="startDateError">
            <small  *ngIf="formErrors.startDate" class="form-text text-muted" id="startDateError">{{ formErrors.startDate }}</small>
        </div>

        <div class='form-group'>
            <label for="endDate" >End Date:</label>
            <input name="endDate" class="form-control col-12" id="ects" formControlName="endDate" aria-describedby="endDateError">
            <small  *ngIf="formErrors.endDate" class="form-text text-muted" id="endDateError">{{ formErrors.endDate }}</small>
        </div> -->

        <div class='form-group'>
            <label for="isPaid" >Is paid?</label>
            <select name="isPaid" class="custom-select mr-sm-2" id="isPaid" formControlName="isPaid" aria-describedby="isPaidError">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
            <small  *ngIf="formErrors.isPaid" class="form-text text-muted" id="isPaidError">{{ formErrors.isPaid }}</small>
        </div>

        <div class='form-group'>
            <label for="flightID" >Flight's ID:</label>
            <input name="flightID" class="form-control col-12" id="flightID" formControlName="flightID" aria-describedby="flightIDError">
            <small  *ngIf="formErrors.flightID" class="form-text text-muted" id="flightIDError">{{ formErrors.flightID }}</small>
        </div>

        <div class='form-group'>
            <label for="participantID" >Participant's ID:</label>
            <input name="participantID" class="form-control col-12" id="participantID" formControlName="participantID" aria-describedby="participantIDError">
            <small  *ngIf="formErrors.participantID" class="form-text text-muted" id="participantIDError">{{ formErrors.participantID }}</small>
        </div>

        <button [disabled]="!modelForm.valid" type="submit" class="btn btn-success" >Add</button>
    </form>
    </div>
</div>
<div class='col-12 text-center' style='margin-top: 20px;'>
    <h6>Try search</h6>
    <br>
</div>
<div class="d-flex justify-content-center" >
    <button (click)="navigateToParticipantList()" class="btn btn-info" >Search Participant</button>
    <button (click)="navigateToFlightList()" class="btn btn-info" style='margin-left: 20px;'>Search Flight</button>
</div>