<hr>
<br>
<div class='col-12 text-center'>
    <h2>Search Space Flight</h2>
<br>
<hr>

<br>

<label for="freePlaces" ><h6>Free places:</h6></label><br>
<div class='row'>
    <div class="col-sm-2 col-md-4"></div>
    <input [(ngModel)]="freePlaces" class="form-control col-12 col-sm-8 col-md-4" id="freePlaces">
    <div class="col-sm-2 col-md-4"></div>
    <br>
</div>
<br>
<label for="minDate" ><h6>Flight date between</h6></label>
<div class='row'>
    <div class="col-sm-2 col-md-4"></div>
    <input type="datetime-local" [(ngModel)]="minDate" class="form-control col-12 col-sm-8 col-md-4" id="minDate" >
    <div class="col-sm-2 col-md-4"></div>
</div>
<br>
<label for="maxDate" ><h6>and</h6></label>
<div class='row'>
    <div class="col-sm-2 col-md-4"></div>
    <input type="datetime-local" [(ngModel)]="maxDate" class="form-control col-12 col-sm-8 col-md-4" id="maxDate" >
    <div class="col-sm-2 col-md-4"></div>
</div>
<br>
<label for="minPrice" ><h6>Price between:</h6><br><b>min:</b>{{minPrice}}</label>
<input [(ngModel)]="minPrice" type="range" class="custom-range" min="0" max="10000" step="1"id="minPrice">

<label for="maxPrice"><b>max: </b>{{maxPrice}}</label>
<input [(ngModel)]="maxPrice" type="range" class="custom-range" min="0" max="10000" step="1"id="maxPrice">
<button (click)='onChangeProperties()' class='btn btn-success'>Search</button>

</div>